*{
    font-family: serif;
} 
.banner{
    background-image: linear-gradient(180deg,rgb(0,0,0),rgba(0,0,0,0.051)),url(img/Banner\ Image.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: 0% 100%;
    height: 500px;
    
    border-radius: 15px;
    padding-bottom: 70;
    margin-left: 75px;
    margin-right: 75px;
    
    
    
    
}  
.banner-head3{
    color: white;
    text-align: center;
    padding-top: 170px;
    font-size: 32px;
    margin-bottom: 0px;
    
    
}
.banner-head1{
    color: white;
    text-align: center;
    font-size: 74px;
    margin-top: 5px;
    

}
.discount{
    text-align: center;
    
    
}
.off{
    text-decoration: none;
    color:#f00;
    font-size: 88px;
    font-weight: 700;

}
.holiday{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;

}
.all{
    color:black;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}
.happy{
    width: 800px;
    height: 500px;
}
.main div{ 
    background-image: linear-gradient(180deg,rgb(0,0,0),rgba(0,0,0,0.051)),url(img/Vectorrr.png);;
    background-repeat:no-repeat;
    background-size:100%;
    background-position: 0% 100%;
    
    height: 400px;
    margin: 0px auto;
    border-radius: 15px;
    margin-left: 75px;
    margin-right: 75px;
    
    
   
    
    
    
}
.welcome{
    color:white;
    padding-left: 126px;
    padding-top: 126px;
    
}
.party{
    margin-bottom: 0;
}
.box{
    height:480px;
    width:1100px;
    background-color:#fff8f3;
    margin-left: 80px;
    text-align: center;
    border-radius: 20px;
    

}
.text decoration{
    padding-top: 200px;
    

}
span{
    color:#F00;
}
.p1{
    padding-top: 150px;
}
.btn{
    display: inline-flex;

    padding: 14px 28px;
justify-content: center;
align-items: center;
gap: 5px;
border-radius: 5px;
}
h4{
    color: #F00;

font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 75px;
margin-bottom: 0;
}
h2{
color: #070211;
font-family: Merriweather;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
padding-left:75px ;
margin-top: 5px;
}
.pera{
    padding-left: 75px;
    margin-bottom: 0;
}
.pic-add{
    display: inline-block;
    padding-left:75px;
    row-gap: 20px;
    column-gap: 20px;
}
.pop{
    padding: 5px;
    
}
.pop1{padding: 5px;

}
.pop2{padding: 5px;
 }
.pop3{padding: 5px;}
.pop4{padding:5px}
.pop5{padding: 5px;}
.pop:hover,.pop1:hover,.pop2:hover,.pop3:hover,.pop4:hover,.pop5:hover{
    border:green;
    background-color:darkslategray
    
}
.subscribe{
    height:480px;
    width:1100px;
    background-color:#fff8f3;
    margin-left: 80px;
    text-align: center;
    border-radius: 20px;
    margin-top: 70px;

}
.subscribe{
    background-image: url(img/Group\ 61.png);padding-left:100px;
    background-repeat: no-repeat;
    background-position:top;
    text-align: center;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 20px;
}
.ter1{
    padding-top: 200px;
    margin-left: 4px;
}
.top{
    width: 330px;
    float: left;
    margin-left: 470px;

}
.checkbox{
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    border-right: none;
    font-size:15px;
    float:left;
    padding: 10px;
    border-radius: 10px;
    


}
.b3{
    width: 100px;
    height: 52px;
    background-color: #f00;
    border: 2px solid white;
    padding-right: 10px;
    border-radius: 10px;
   
    
    color:#fff8f3;

}
.b3:focus{
    outline: none;
}
.checkbox:focus{
    outline:none;
}
.footer{
    width: 1500px;
    height: 500px;
    background-color: black;
    

}
.street{
    color: white;
    padding-top: 120px;
    padding-left:140px ;
}
.rtl{
    color: #FFF;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 140px;
padding-top: 200px;
}
.icon{
    padding-left: 500px;
    display: flex;
    margin-bottom: 100px;
    text-align: right;
}
.small icon{
    color: white;
}

    





    
    

